@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap');
/* Header tags */
.wrapper{
  margin-top: 30px;
}
.header-text{
  float: left;
  font-size: 36px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
}
/* Button following */
.button{
  float: right;
  margin-right:20px;
  border-radius: 3em;
  border-width: 0;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #74A9F9;
  line-height: 2em;
  margin-top: 10px;
  width: 20%;
  box-shadow: -8px 8px 7px  #B6B2B1; 
}
/* Button Drupal */
.drupal-button{
  margin-left:20px;
  border-radius: 3em;
  border-color:#B2B3B2;
  color: #B2B3B2;
  line-height: 1em;
  margin-bottom: 15px;
  
}
.drupal-button:hover {
  border-color: #74A9F9;
  color: #74A9F9;
}
/* Search box */
input{
  /* width: 98%; */
  border-radius: 3em;
  border-color: #A4A4A4;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;    
  margin-top: 0;
  padding-left: 40px;
  line-height: 2em;
}
input:focus{
  border-color: #74A9F9;
  outline: 0 ;
}
.input-container {
  position:relative;
}
.input-icon {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  margin: 13px 0 0 35px;
}
/* Button play/play all */
.button-play{
  float: left;
  min-width: 140px;
  border-radius: 3em;
  border-width: 0;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #74A9F9;
  line-height: 2em;
  margin-top: 20px;
  margin-left: 30px;
  font-weight: bolder;
  box-shadow: -8px 8px 7px  #B6B2B1; 
}
/* Button Dropdown */
.button-dropdown{
  text-align: center;
  width: 100%;
  margin-right:20px;
  border-width: 0;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #74A9F9;
  line-height: 2em;
  margin-top: 20px;
  font-weight: bolder;
  border-radius: 3em;
  box-shadow: 0 0 13px rgba(167,167,167,0.39); 
  /* margin-bottom: 60px; */
  text-transform: capitalize;
}

/* Navigation */
.nav-section{
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 20px;
  padding: 10px 0;
}

.nav-section 
.topnav{
  display: inline-block;
  width: 100%;
  /* padding-left: 20px; */
}
ul{
  display: flex;
  margin-bottom: 0;
}
ul li a{
  border-top-width: 100%;
  color: black;
  /* font-size: 30px; */
  /* line-height: 2em; */
  padding-left: 40px;
  text-transform: uppercase;
  font-weight: bolder;
}
ul li a:hover{
  color: black;
  text-decoration: none;
}
ul li.active{
    text-decoration: none;
  
    display: inline-block;
} 
ul li.active::after {
  position: absolute;
  bottom: -17px;
  left: 50px;
  right: 0;
  width: 100%;
  content: " ";
  border-bottom: 5px solid #3E8AF7;
  display: inline-block;
  height: 4px;  
  max-width: 100px;
  background: #3E8AF7;
  padding-left: 20px;
}
/* Tabs design */
.nav-tabs {
  border: none;
}
.video-content .nav-tabs .nav-item {
  margin: 0 15px;
}
.nav-tabs .nav-link {
  padding: 0;
  font-size: 18px;
}
.nav-tabs .nav-link:hover {
  border: 1px solid transparent;
  background-color: white !important;
  color: #2e836d !important;
}
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 3px solid #3E8AF7;
}
/* Button edit */
.button-edit{
  outline: none !important;
  background-color: white; 
  margin-left:80px;
  border-radius: 3em;
  border-width: 0;
  font-weight: 600;
  color: #2e836d;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 2em;
  box-shadow: 0 0 13px rgba(167,167,167,0.23);
  cursor: pointer;
}
.button-edit-hover{
  /* float: right; */
  /* margin-top: 15px; */
  outline: none !important;
  font-size: 18px;
  margin-left: 80px;
  border-radius: 3em;
  border-width: 0;
  color: white;
  padding: 7px 30px;
  letter-spacing: 1px;
  line-height: 17px;
  background-color: #4270FA;
  box-shadow: 0 0 13px rgba(167,167,167,0.23);
  cursor: pointer;
}
.button-edit-hover .edit-icon {
  color: white !important;
}
.edit-icon {
  color: #2e836d !important;
  margin-right: 10px;
  font-size: 20px;
}
/* Video portion */
.video{
 
  width:100% ;
  margin-left: 20px;
  padding-right: 20px;
}
/* iframe
{
  height: 500px !important;
}  */

/* Button watched */
.button-watch{
  float: left;
  text-align: center;
  margin-right:20px;
  border-radius: 3em;
  border-width: 0;
  color: white;
  padding: 2px 30px;
  /*padding-left: 30px;
  padding-right: 30px*/
  background-color: #74A9F9;
  line-height: 2em;
  margin-left: 20px;
  /* margin-top: 10px; */
  box-shadow: 0 0 13px rgba(167,167,167,0.39); 
}
.button-watch:hover {
  background-color: white !important;
  color: #74A9F9;
  box-shadow: 0 0 13px rgba(167,167,167,0.39);
}
.button-watch:hover svg {
  /* background-color: white !important; */
  color: #74A9F9;
  fill: #74A9F9;
}
.like-icon{
  /* background-color:#567CD0; */
  color: #4270FA !important;
  background-size: 15px 15px;
  height: 50px;
  width: 50px;
  float: right;
  /* border-radius: 30px; */
  outline: none;
  outline-color: white;
   border-color: white;
  padding: 10px 10px 10px 10px;
}
.like-icon-hover{
  background-color:#5a6268;
  background-size: 15px 15px;;
  height: 50px;
  width: 50px;
  float: right;
  border-radius: 30px;
  padding: 0 10px 10px 10px;
}
.watch-icon-deactive{
  /* background-color:#5a6268; */
}
.icon-add
{
  color: #6BA7F9;
  font-size: 30px;  
  cursor: pointer;
}

.icon-edit
{
  padding-left: 5px;
  color: #6BA7F9;
  font-size: 28px;  
  cursor: pointer;
}
.rst__expandButton {
  background: #fff url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNC42MzggMjQuNjM4Ij4NCiAgPHRpdGxlPmljb24tMDEtMDE8L3RpdGxlPg0KICA8Y2lyY2xlIGN4PSIxMi4zMTkiIGN5PSIxMi4zMTkiIHI9IjExLjgxOSIgc3R5bGU9ImZpbGw6ICNmZmY7c3Ryb2tlOiAjN2RhNWQ3O3N0cm9rZS1taXRlcmxpbWl0OiAxMCIvPg0KICA8cG9seWxpbmUgcG9pbnRzPSI5LjM1NiA2LjQ4NSAxNS41NTcgMTIuMzA3IDkuMDgyIDE4LjE1MyIgc3R5bGU9ImZpbGw6IG5vbmU7c3Ryb2tlOiAjN2RhNWQ3O3N0cm9rZS1taXRlcmxpbWl0OiAxMDtzdHJva2Utd2lkdGg6IDJweCIvPg0KPC9zdmc+DQo=) no-repeat center !important;
  /* background-size: 40px 40px !important; */
     
}
.rst__row {
  padding-left: 10px !important;
  /* height: 100%;
  white-space: nowrap;
  display: flex; */
}
.rst__lineHalfHorizontalRight::before {
  height: 2px !important;
  top: 50%;
  right: 0;
  width: 50%;
}
.rst__lineHalfHorizontalRight::before, .rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after {
  position: absolute;
  content: '';
  background-color: #D6D6D6 !important;
}
.rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after {
  width: 2px !important;
  left: 50%;
  top: 0;
  height: 100%;
}
.rst__rowWrapper {
  padding: 10px 10px 10px 10px;
  height: 120% !important;
  
}
.rst__moveHandle, .rst__loadingHandle {
  
  border: 0 !important;
}
.rst__rowContents {
  /* box-shadow: -8px 4px 7px #DDDDDD !important; */
  box-shadow: 0 0 13px rgba(167,167,167,0.23) !important;
  border: 0 !important; 
  z-index: 9;
   width: calc(100% - 44px);
}
/* .rst__rowLabel {
  padding-left: 20px !important;
} */
.rst__rowTitle { 
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  cursor: pointer;
}
.rst__collapseButton {
  background: #fff url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+DQogIDx0aXRsZT5hciAtIGQ8L3RpdGxlPg0KICA8Y2lyY2xlIGN4PSIxMi40NjUiIGN5PSIxMi41NSIgcj0iMTEuODE5IiBzdHlsZT0iZmlsbDogI2ZmZjtzdHJva2U6ICM3ZGE1ZDc7c3Ryb2tlLW1pdGVybGltaXQ6IDEwIi8+DQogIDxwb2x5bGluZSBwb2ludHM9IjE4LjI5OSA5LjU4NyAxMi40NzcgMTUuNzg4IDYuNjMgOS4zMTIiIHN0eWxlPSJmaWxsOiBub25lO3N0cm9rZTogIzdkYTVkNztzdHJva2UtbWl0ZXJsaW1pdDogMTA7c3Ryb2tlLXdpZHRoOiAycHgiLz4NCjwvc3ZnPg0K) no-repeat center !important;
  background-size: 40px 40px !important;
}
.rst__collapseButton, .rst__expandButton {
  border: 2px solid #4270FA !important;
  width: 40px !important;
  box-shadow: 5px 1px 3px rgba(0,0,0,.15) !important;
  height: 40px !important; 
}
.rst__lineChildren {
  height: 100%;
  display: inline-block;
  position: absolute;
}
.rst__lineChildren::after {
  content: '';
  position: absolute;
  background-color:#D6D6D6 !important;
  width: 3px !important;
}
.rst__rowContents {
  white-space: normal;
  max-width: fit-content;
}
@media (max-width:540px)
{
  .header-text{
    font-size: 25px;
    width: 100%;
  }
  .button{
    width: 90%;
    text-align: center;
    line-height: 1em;
    margin-bottom: 20px; 
  }
  .drupal-button{
   margin-bottom: 10px;
   text-align: center;
   width: 89%;
  }
  .input-icon {
  
    margin: 28px 0 0 35px;
}
  input{
    width: 90%;
    font-size: 15px; 
    margin-right: 30px;
    margin-top: 20px;   
  }
  .button-play{
    text-align: center;
    width: 85%;
    line-height: 1em;
    font-weight: bolder;
    box-shadow: 5px 10px 5px  gray;
  }
  .button-dropdown{
    width:100%;
    text-align: left !important; 
  }
  .button-edit{
    width: 90%;
    margin-left: 25px;
    line-height: 1em;
  }
  ul li a{
    text-align: center;
    font-size: 20px;
    padding-left: 15px;
  }
  .video{
    height: 300px;
    width:100% ;
  }
  
}
@media (min-width:541px) and (max-width:768px)
{
  .header-text{
    font-size: 30px;
    width: 100%;
  }
  .button{
    
    width: 30%;
    margin-top: -40px;
    text-align: center;
    line-height: 1em;
    margin-bottom: 20px;
   
  }
  .drupal-button{
   margin-bottom: 10px;
   text-align: center;
   width: 50%;
   display: flex;
  }
  .input-icon {
  
    margin: 28px 0 0 35px;
}
  input{
    width: 90%;
    font-size: 15px; 
    margin-right: 30px;
    margin-top: 20px;   
  }
  .button-play{
    text-align: center;
    width: 85%;
    line-height: 1em;
    font-weight: bolder;
    box-shadow: 5px 10px 5px  gray;
  }
  .button-dropdown{

    width:100%;
   text-align: left !important; 
  }
  .button-edit{
    width: 90%;
    margin-left: 25px;
    line-height: 1em;
  }
  ul li a{
  text-align: center;
    font-size: 20px;
    padding-left: 15px;
  }
  .video{
    height: 300px;
    width:100% ;
  } 
}

.rst__lineHalfHorizontalRight:after {
  /* content: none !important;  */
}
.rst__lineHalfHorizontalRight:before {
  width: 100% !important;
  right: -50% !important;
}
.step-ladders .button-play btn btn-secondary {
  @media (max-width:375px)
  {
    .button-play {
    min-width: 90%;
    }
  }
}

.buttons-wrapper {
  display: inline-block;
  float: right;
}
.btn-abc{
  border-radius: 100%;
  border: none;
}
.video-form{
  margin-left: 0px;
}
.autosuggest{
  margin-left: -20px;
  margin-right: 12px;
}
.active-row {
  color: white;
  fill: white;
}
.active-row svg {
  color: white;
}
.vote{
  margin-left: 10px;
  margin-right: 10px;
}
.reactTag{
  margin-left: -20px;
  margin-right: 10px;
}
.rst__nodeContent {
  width: calc(100% - 44px);
  height: auto;
}
.rst__rowTitle span {
  display: flex;
}

.small-header {
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 28px;
}

.tabs-wrapper .tab-content {
  padding: 0 15px 15px !important;
}


.video-title-block .rst__toolbarButton {
  width: 100%;
}
/* .video-title-block .btn:focus {
  box-shadow: 0 0 13px rgba(167,167,167,0.39);
} */
.btn:focus {
  box-shadow: none;
}
.tabs-wrapper {
  margin-bottom: 30px;
}
/* .rst__rowTitle span .main_content{
    display: inline-block;
    width: 100%;
    white-space: normal;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
} */

.tabs-wrapper .tab-pane.active .ReactGridGallery_tile-icon-bar svg {
  display: none;
}
.tabs-wrapper .tab-pane.active pre {
/*  display: flex !important;
  flex-wrap: wrap;*/
  width: 100%; 
}

.tab-pane.active{
  background-color: #ffffff !important;
  color: #31343f !important;
}

.tabs-wrapper .tab-pane.active  code {
  white-space: normal;
}
.tabs-wrapper .video-tree .rst__moveHandle {
  cursor: grab;
}
.header-text {
  font-size: 32px;
}


span.a{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
  color: #FFA500;
  text-shadow: 2px 2px 5px #111110;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
  0%   {opacity: 1;}
  100% {opacity: 0;}
  }

span.b{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
  color: #FFA500;
  text-shadow: 2px 2px 5px #111110;
    -webkit-animation-name: examplet; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes examplet {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
  }
span.c{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
  color: #FFA500;
  text-shadow: 2px 2px 5px #111110;
    -webkit-animation-name: examplez; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes examplez {
  0%   {opacity: 0;}
  80%  {opacity: 1;}
  100% {opacity: 0;}
  }

p.text{
  text-align: center;
  font-size: 35px;
  padding-top: 10%;
  color: #FFA500;
  text-shadow: 2px 2px 5px #111110;
}
/* 

body{
  background-color: #d1cfcf;
} */


/* Casserole */
div.haut{
z-index: 0;
height: 22px;
width: 100px;
margin-left: 40%;
background-color: #686363;
border-top-right-radius: 50px 20px;
border-top-left-radius: 50px 20px;
-webkit-transform: rotateZ(90deg); /* Standard syntax */
  -webkit-animation-name: bas; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
}

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes bas {
  0%   {transform: rotateZ(-5deg);}
  50%  {transform: rotateZ(0deg);}
  80% {transform: rotateZ(5deg);}
  100% {transform: rotateZ(0deg);}
}

div.chap{
z-index: 1;
background-color: black;
height: 12px;
width: 17px;
margin-left: 42%;
margin-top: 5%;
border-top-right-radius: 10px 20px;
border-top-left-radius: 10px 20px;
}

div.bas{
height: 25px;
width: 100px;
margin-left: 40%;
background-color: #686363;
margin-top: 11px;
border-bottom-right-radius: 10px 20px;
border-bottom-left-radius: 10px 20px;
}

div.les{
height: 11px;
width: 21px;
background-color: #686363;
margin-left: 30px;
border-top-right-radius: 50px 20px;
border-bottom-right-radius: 50px 20px;
}

div.lim{
height: 11px;
width: 35px;
background-color: #686363;
margin-left: -19px;
border-top-left-radius: 50px 20px;
border-bottom-left-radius: 50px 20px;
padding-left: 87px;
}

/* Smoke container */

/* .shadow.shadow1{
  padding: 10px 5px 1px 25px;
} */
.nav-tabs .nav-link.activeRow{
  border: none;
  border-bottom: 3px solid #3E8AF7;
  color: #495057;
  background-color: #fff;
}




/* 01- 07- 2019 */
.radio-button {
  display: inline-block;
  float: left;
  margin-right: 25px;
  padding-bottom: 10px;
}
.radio-button .drupal-button {
  padding:  3px 5px;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 17px;
  font-family: "Open Sans";
  font-weight: 400;
  cursor: pointer;
}

.form-check-input{
  margin-left: -1.0rem;
}

/* .form-check {
  padding-left: 1rem;
}
.form-check-input {
  margin-top: .8rem;
  height: 20px;
  width: 20px;
}
.form-check-input:hover {
  background-color: grey;
}
.form-check-label input:checked {
  background-color: #2196F3;
} */
.radio-button-wrap {
  margin-top: 20px;
  margin-left: 50px;
}
.header-checkbox {
  display: inline-block;
  height: 20px;
  /* width: 20px; */
}
.drupal-button {
  border-radius: 5px;
  border-color: #74A9F9;
  background-color: #e1ecf4;
  color: #74A9F9;
}
.video-content {
    margin: 40px 50px;
    padding-bottom: 50px;
    /* box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0,0,0,.15); */
    box-shadow: 0 0 57px rgba(167,167,167,0.23);
    background-color: #ffffff;
}
.button-edit:hover {
  background-color: #4270FA;
  color: white;
  fill: white !important;
}
.button-edit:hover svg {
  color: white;
  fill: white;
}
.button-edit-hover:hover{
  background-color: white;
  color: #2e836d !important;
}
.button-edit-hover:hover svg {
  fill: #2e836d;
}
.edit-icon:hover {
  color: #4270fa !important;
}
.video-content .button-edit-hover {
  text-transform: uppercase;
  font-weight: 600;
}
.button-edit {
  text-transform: uppercase;
  font-size: 18px;
}
#react-step-ladders .btn-group .button-dropdown {
  background-color: #4270FA;
  font-size: 14px;
  box-shadow: 0 0 13px rgba(167,167,167,0.39);;
  padding: 5px 30px;
  letter-spacing: 1px;
  line-height: 17px;
  font-family: "Open Sans";
  font-weight: 400;
}
#react-step-ladders .nav-section {
  border-top: 2px solid #4270FA;
  border-bottom: 0;
  padding: 0;
  margin-bottom: 50px;
}
.video-content .nav-tabs .nav-item {
  font-size: 16px;
  margin:  0;
  margin-right: 2px;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.15);
  /* width: calc(33.33% - 4px/3);  */
  /*min-width: 221px;*/
  /* width: 49.5%; */
  width: calc(25% - 5px/3);
  margin-right: 2px;
  float: left;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
}
.align-items-center .nav-tabs {
  text-align: center;
}
.align-items-center .btn {
  padding: 0 20px;
  font-size: 1rem;
}
.button-edit {
  float: left;
}
.video-content .nav-tabs .nav-item:last-child {
  margin-right: 0;
}
.nav-tabs .nav-link.activeRow {
  border: none;
  color: #2e836d !important;
}
.nav-tabs .nav-link {
  background-color: #4270FA;
  color: white !important;
  padding: 10px;
  font-size: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 100%;
  justify-content: center;
  align-self: center;
  align-items: center;
  white-space: normal;
  display: inline-flex;
  width: 100%;
  word-break: break-word;
}
.video-tree {
  margin-left: 30px;
}
.button-dropdown {
  margin-right: 50px;
}
.button-dropdown:hover {
  background-color: white !important;
  color: #2E836D !important;
  box-shadow: 0 0 13px rgba(167,167,167,0.39);
}
.video-tree .rst__node .rst__nodeContent .rst__rowContentsDragDisabled {
  /* max-width: 100%; */
  /* padding: 0 0 0 10px; */
  box-shadow: 0 0 13px rgba(167,167,167,0.23) !important;
}
.rst__rowContents {
  padding: 0 !important;
}
.rst__rowContents:hover {
  background-color: #4270FA;
  color: white;
  fill: white;
}
.rst__rowContents:hover .active-icons svg{
  color: white;
}
.video-tree .rst__node .rst__nodeContent .rst__rowWrapper {
  padding: 18px 0;
}
.active-row {
  /* color: white !important; */
  background-color: #4270FA !important;
  width: 100%;
  /* border: 2px solid #4270FA !important; */
}
.active-row:hover {
  background-color: #4270FA;
  color: white;
}
.shadow.shadow1 {
  text-align: center;
  font-size: 25px;
  font-family: "Open Sans";
}
/* .shadow .active-row h6:hover {
  background-color: white;
  color: #4270FA;
} */
.tabs-wrapper .header-ladder .active-row:hover  {
  background-color: white !important;
  color: #4270FA !important;
}
.tabs-wrapper .header-ladder .active-row:hover strong {
  color: #4270FA !important;
}
.shadow1 .active-row {
  color: white;
  font-size: 22px;
}
.active-row strong {
  color: white !important;
}
.rst__rowTitle .main_content {
  font-size:  16px;
  font-weight: 400;
  font-family: "Open Sans";
}
.desc-block {
  margin-top: 30px;
}
.desc-block .button-watch {
  float: none;
  background-color: #4270FA;
  font-size: 14px;
  font-weight: bold;
}
.desc-block .watch-icon-deactive {
  /* background-color: #4270FA; */
  border: none;
  font-size: 14px;
}
.btn-secondary {
  background-color: #4270FA !important;
  border-color: #4270FA !important;
  text-transform: uppercase;
  border: none;
}
.btn-secondary svg {
  margin-right: 5px;
}
.like-icon-hover {
  color: #5a6268 !important;
  background-color: white;
}
.rst__collapseButton, .rst__expandButton {
  max-width: 36px;
  max-height: 36px;
}
/*.rst__rowContents {
  display: inline-block;
  width: 100%;
}*/
.rst__nodeContent {
  max-width: 100%;
  padding-right: 5px;
}
/*.rst__rowWrapper {
  display: inline-block !important;
  width: 100% !important;
}
.rst__row {
  display: inline-block !important;
  width: 100% !important;
}*/
.tabs-wrapper h6 {
  background-color: white;
  padding: 10px 5px 10px 25px;
}
.tabs-wrapper h6:hover {
  background-color: #4270FA;
  color: white!important;
}
.tabs-wrapper h6 strong {
  /*color: black;*/
  font-size: 22px;
}
.main_content {
  padding: 5px 20px;
}
.rst__rowLabel {
  /* width: 100%; */
  padding-right: 0 !important;
}
.btn-white {
  padding-top: 0;
  padding-bottom: 0;
}
.ReactGridGallery_tile {
  display: inline-block;
  width: 100%;
}
.ReactGridGallery_tile-viewport {
  position: relative;
  height: 570px !important;
  width: 100% !important;
    
}
.ReactGridGallery_tile-viewport img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto !important;
  width: auto !important;
  transform: translate(-50%, -50%);
}
.custom-control-input:checked~.custom-control-label::before {
  border-color: #2e836d;
  background-color:#2e836d;
}
.custom-control-label:hover::after {
  background-color: #d0d0d4 !important;
  cursor: pointer;
  border: #adb5bd solid 1px !important;
  border-radius: 5px;
}
.header-ladder {
  margin-right: 8px;
}
.buttons-wrapper .btn-white:nth-child(2) {
  padding-bottom: 0;
}
.like-icon-hover:focus,
.like-icon-hover:active,
.like-icon-hover:visited,
.like-icon-hover:hover{
  color: #4270FA !important;
  fill: #4270FA !important;
}
.active-icons {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* .code-sample-wrap {
  box-shadow: 0 0 13px rgba(167,167,167,0.23);
  padding: 20px;
  height: 550px;
} */
.language-php {
  color: #F078B0;
}
.language-javascript {
  color: #519cff;
}
.code-header {
  font-size: 22px;
}
.video-wrap {
  box-shadow: 0 0 57px rgba(167,167,167,0.23);
  /* height: 600px; */
  min-height: 570px;
  overflow-y: auto;
  padding: 15px 0 0;
}
.shadow {
  box-shadow: 0 0 13px rgba(167,167,167,0.23) !important;
} 
.coming-soon{
  background-color: #4270FA;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
}
.sample-code p {
  display: none;
}
.data-header {
  font-size: 25px;
  color: #0678be
}

.deletedline{
  background-color: #fdd;
}

.diffchange{
  background-color: #faa
}

.addedline{
  background-color: #dfd
}

.diffadd{
  background-color: #77f177;
}

.history-wrap .card-view > .col {
  max-width: 33.33%;
}

.history-wrap .card-view .history-table-wrap {
  max-width: 66.66%;
  width: 100%;
  overflow-x: auto;
  display: block;
}

.history-wrap .card-view .history-table-wrap .col {
  width: 33.33%;
  display: table-cell;
  min-width: 450px;
}

.history-wrap .card-view .history-table-wrap .table-wrap {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.carousel-item.active {
  background-color: white
}

.coming-soon-left{
  background-color: #4270FA;
  height: 50px;
  width: 100%;
  padding-left: 15px;
  /* text-align: center; */
  font-size: 30px;
  color: white;
}
