* {
  font-family: Helvetica;
}

.parent {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.parent__toggle {
  padding-left: 10px;
  transform: rotate(-90deg);
}

.parent__icon {
  padding-left: 10px;
}

.parent__icon {
  padding-left: 10px;
}

.parent__name {
  padding-left: 10px;
}

.parent-container {
  padding-left: 20px;
  }

.child {
  padding-left: 60px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  cursor: pointer;
}
.child:hover, .parent:hover {
    text-decoration: underline;
}

.child__icon {
  padding-left: 10px;
}

.child__name {
  padding-left: 10px;
}

.child__options {
  align-self: flex-end;
}

.active {
  color: #ffffff;
  background-color: #31343f;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.expanded {
  transform: rotate(0deg);
}

/** CONTENT BOX **/

.padd_top {
  padding-top: 20px;
}

.content_box {
  font-size: 12px;
  white-space: pre-wrap;
  background-color: #282c34;
  border: solid 1px black;
  padding: 20px;
  color: #9da5ab;
  min-height: 250px;
}

.text_color {
  color: #21252b !important;
}
